<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    
        {% block css %}{% endblock css %}
    </head>
    
</head>
<body style="background-color: hsl(0, 78%, 2%);">
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="user-info">
                <div class="conta">
                    <h3 style="text-decoration: underline; height: 10vh;">Dashboard</h3>
                </div>
                {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="Profile Photo" class="profile-photo">
                {% else %}
                    <img src="{% static 'images/my.jpg' %}" alt="Default Profile" class="profile-photo">
                {% endif %}
                <p>{{ request.user.email }}</p>
            </div>

            <nav>
                <a href="/" class="menu-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><i class="fas fa-home"></i> Dashboard</a>
            </nav>

            <div class="settings-section">
                <h4>Settings</h4>
                <a href="{% url 'users:profile' %}" class="menu-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                    <i class="fas fa-user"></i> View Profile
                </a>
                <a href="{% url 'users:change_password' %}" class="menu-item {% if request.resolver_match.url_name == 'change_password' %}active{% endif %}">
                    <i class="fas fa-lock"></i> Change Password
                </a>
                <a href="{% url 'users:profile_edit' %}" class="menu-item {% if request.resolver_match.url_name == 'profile_edit' %}active{% endif %}">
                    <i class="fas fa-camera"></i> Change Profile Photo
                </a>
                <a href="{% url 'tenants:add_tenant' %}" class="menu-item {% if request.resolver_match.url_name == 'add_tenant' %}active{% endif %}">
                    <i class="fas fa-user"></i>  Add Tenant
                </a>
                <a href="{% url 'tenants:view_tenants' %}" class="menu-item {% if request.resolver_match.url_name == 'view_tenants' %}active{% endif %}">
                    <i class="fas fa-house-user"></i> View Tenants
                </a>
                <a href="{% url 'invoices:create_invoice' %}" class="menu-item {% if request.resolver_match.url_name == 'create_invoice' %}active{% endif %}">
                    <i class="fas fa-plus-circle"></i> Add Invoice
                </a>
                <a href="{% url 'invoices:view_invoices' %}" class="menu-item {% if request.resolver_match.url_name == 'view_invoices' %}active{% endif %}">
                    <i class="fas fa-file-invoice"></i>View List
                </a>
                <a href="{% url 'users:logout' %}" class="menu-item logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </div>
        {% block dashboard_content %}
        {% endblock dashboard_content %}
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    {% include "snippet/scripts.html" %}

</body>
</html>
