{% extends "base.html" %}
{% load static %}
{% block title %} Forgot Password {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block maincontent %}
<div class="login-container">
    <!-- Logo at the top -->
    <div class="logo" style="text-align: center; margin-bottom: 20px;">
        <img src="{% if logo %} {{ logo.logo.url }} {%else%} {% static 'images/logo.jpeg' %} {% endif %}" alt="Site Logo" style="max-height: 80px;">
    </div>

    <h1>Forgot Password</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Enter your email" required>
        <!-- Send otp button -->
        <button type="submit" class="btn btn-primary mt-4">Send OTP</button>
        <!-- back button -->
        <button type="button" class="btn btn-secondary mt-1" onclick="window.location.href='{% url 'users:login' %}'">Back to Login</button>
    </form>
</div>
{% endblock maincontent%}