{% extends "admin_dashboard.html" %}
{% load static %}

{% block dashboard_content %}
<div class="dashboard-cards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Admin Dashboard</h3>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Total No. of Users -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="small-box bg-green">
                    <h2>{{ users }}</h2>
                    <p>Total Users</p>
                    <div class="icon">👥</div>
                    <a href="{% url 'users:view_users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- Total No. of Feedbacks -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="small-box bg-yellow">
                    <h2>{{ feedbacks }}</h2>
                    <p>Total Feedbacks</p>
                    <div class="icon">📄</div>
                    <a href="{% url 'invoices:manage_feedbacks' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- Total No. of Pending Feedbacks -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="small-box bg-red">
                    <h2>{{ pending_feedbacks }}</h2>
                    <p>Total  Pending Feedbacks</p>
                    <div class="icon">⏳</div>
                    <a href="{% url 'invoices:manage_feedbacks' %}?status=pending" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- Total No. of Solved Feedbacks -->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                <div class="small-box bg-blue">
                    <h2>{{ solved_feedbacks }}</h2>
                    <p>Total Solved Feedbacks</p>
                    <div class="icon">✅</div>
                    <a href="{% url 'invoices:manage_feedbacks' %}?status=solved" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- Total No. of Closed Feedbacks -->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                <div class="small-box bg-purple">
                    <h2>{{ closed_feedbacks }}</h2>
                    <p>Total Closed Feedbacks</p>
                    <div class="icon">🔒</div>
                    <a href="{% url 'invoices:manage_feedbacks' %}?status=closed" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- Total No. of Reviewed Feedbacks -->
            <div class="col-lg-4 col-md-6 col-sm-12 mt-4" style="background-color: #ada41aff;">
                <div class="small-box bg-teal">
                    <h2>{{ reviewed_feedbacks }}</h2>
                    <p>Total Reviewed Feedbacks</p>
                    <div class="icon">✔️</div>
                    <a href="{% url 'invoices:manage_feedbacks' %}?status=reviewed" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}