SECRET_KEY='django-insecure-y0l0zy@)rr)wre6g0mh+v&&ip0&1dtnx++q%rq!i52u)t%y(2a'
DEBUG=False
ALLOWED_HOSTS=*

STATIC_URL=/static/
STATICFILES_DIRS=static
STATIC_ROOT=staticfiles

MEDIA_URL=/media/
MEDIA_ROOT=media